@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body{
    background-color: #212226;
    font-family: 'roboto';
}

.logo  {
    width: 100px;
    height: 100px;
    font-size: 40px; 
    margin: 10px;
 }
 
 header nav{
     padding: 10px;
     display: flex;
     justify-content: space-between;
     max-height: 1200px;
     margin: 0 auto;
 }
 .minhas-listas{
    margin-top: 35px;

 }

 li {
     display: inline-block;
     padding: 10px;
     margin: 20px;
     color: white;  
     margin-bottom: 50px;
 }
 
 a {
     color:  rgb(246, 246, 246);
     font-size: 18px;
     font-weight: 500;
     transition: 0.5s ease;
 }
 
 a:hover {
     color:#66a966;
     transform: scale(1.1);
 }

p{
    color: white;
}
.img-principal{
    width: 100%;
    margin-top:20px;
    height: 550px;
}
.containerr {
    position: relative;
}

.texto {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 65px; 
    text-align: center;
    font-weight: bolder; 
}

h1{
    text-align: center;
    color: #66a966;
    font-weight: bolder;
    font-size: 30px;
    margin: 0 0 1em;
}

.principal{
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
}

.principal p{
    margin: 0 0 1em; 
}

.principal img{
    width: 500px;
    float: left;
    margin: 0 20px 0 20px;
    border-radius: 5px;
}
.mapa section{
    padding: 80px;
}

h2{
    text-align: center;
    color: #66a966;
}
.mapa {
    padding: 3em 0;
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}
.centro{
    margin-left: 150px;
}

.mapa-conteudo {
 margin-left: 170px;
}

.beneficios {
    padding: 1em 0;
}

.beneficios h3{
    text-align: center;
    font-size: 30px;
    margin-left: 150px;
    color: #66a966; 
}

.conteudo-beneficios {
    padding: 50px;
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: bolder;
}

.itens:first-child {
    font-weight: bold;
}

.itens::before {
    content: "🟊";
    color: #B99127;
}

.imagem-beneficios {
    float: right;
    width: 300px;
    height: 210px;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px #000000;
    border-radius: 5px; 
}

.imagem-beneficios:hover {
    opacity: 0.3;
}

.video {
    width: 560px;
    margin: 2.5em auto;
    border: 4px solid;
    border-color: #66a966;
}

/* SOBRE */
.sobre-h2{
   margin: 50px;
}
p {
   color: white;
   font-size: 20px;
   text-align: justify;
   padding-right: 10px;

}
#minha-fotoo {
   margin: 20px;
   height:350px;
   width: 300px;
   border: 4px solid;
   border-color: #66a966;
   box-shadow: 5px 5px 20px rgb(0, 0, 0);
  padding: 0;
}
.biografia {
   display: flex;
   align-items: center;
   justify-content: center;
}

footer {
    background-color: #1c1a1a;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-top: 90px;
 }
 
 .logo-footer {
    font-size: 30px;
 }
 
 i{
 font-size: 30px;
 margin-right: 10px;
 transition: 0.3s;
 }
 
 i:hover {
    transform: scale(1.5);
 }
 
 .logo-footer {
    font-size: 30px;
    text-align: center;
 }
 
 .logo-footerr {
    text-align: center;
 }
 
 .footer-p{
    text-align: center;
 }

 .lists{
   margin-left: 950px;
   margin-top: 15px;
 }


 /* CONTATO*/

 .logo p {
    font-size: 30px; 
    margin: 10px;
     padding: 10px;
     color: white;
     font-size: 30px;
     letter-spacing: 2px;
     top: 20px;
  }
  
  header nav{
     padding: 10px;
     display: flex;
     justify-content: space-between;
     max-height: 1200px;
     margin: 0 auto;
  }
  
  li {
     display: inline-block;
     padding: 10px;
     margin: 20px;
     color: white;
  }
  
  a{
     color:  white;
     font-size: 18px;
     font-weight: 500;
     transition: 0.5s ease;
  }
  
  a:hover{
     color:#66a966;
     transform: scale(1.1);
  }
  
  p{
     color: white;
     font-size: 20px;
     padding: 10px;
     text-align: center;
  }
  
  h1{
     text-align: center;
     padding: 20px;
     color: #66a966;
  }
  
  form{
         max-width: 600px;
       margin: 0 auto;
         background-color: #fff;
         padding: 20px;
         border-radius: 10px;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
  }
  
  label, input, textarea {
     display: block;
     margin-bottom: 10px;
     width: 100%;
     box-sizing: border-box;
  }
  
  input, textarea {
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
  }
  
  textarea {
     height: 100px;
  }
  
  input[type="submit"] {
     background-color: #007bff;
     color: #fff;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     font-size: 19px;
  }
  
  input[type="submit"]:hover {
     background-color: #0056b3;
  }
  
  footer {
     background-color: #1c1a1a;
     padding: 20px;
     text-align: center;
     bottom: 0;
     width: 100%;
     overflow: hidden;
  }
  
  .listss{
   margin-top: 20px;
  }

  .pp{
     text-align: center;
  }
  
  .logo-footer{
     font-size: 30px;
  }
  
  i{
  font-size: 30px;
  margin-right: 10px;
  transition: 0.3s; 
  }
  
  i:hover{
     transform: scale(1.5);
  }
  
  .formulario{
     padding: 15px;
  }

  .changee{
   margin-left: 850px;
  }

  .change{
   margin-left: 50px;
  }

  /*serviços*/

  .produtos li {
   display: inline-block;
   text-align: center;
   width: 30%;
   vertical-align: top;
   margin: 0 1.5%;
   padding: 30px 15px;
   box-sizing: border-box;
   border: 3px solid #000000;
   border-radius: 10px;
}

.produtos li:hover {
   border-color: #66a966;
} 

.produtos li:active {
   border-color: #088C19;
}

.produtos li:hover h2 {
   font-size: 32px;
}

.produtos h2 {
   font-size: 30px;
   font-weight: bolder;
}

.produto-descricao {
   font-size: 18px;
}

.produto-preco {
   font-size: 22px;
   font-weight: bold;
   margin-top: 10px;
}

.imagem-produtos{
   border-radius: 7px;
}

.servicos{
   color: rgb(161, 55, 55);
   font-weight: bolder;
   font-size: 25px;
   margin: 30px;
}

.colorido{
   height: 300px;
   border-radius: 10px;
}
.mechas{
   height: 300px;
   width: 220px;
   border-radius: 10px;
}

.barba{
  height: 500px;
}

.alisamento{
   height: 300px;
   width: 330px;
   border-radius: 10px;
}

.formm{
   margin-top: 80px;
}


 
.finish{
   height: 500px;
}

/*CRUD*/

.corpo {
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color:#fff;
 }
 
 button {
   cursor: pointer;
 }
 
 .container {
   width: 90%;
   height: 80%;
   border-radius: 10px;
   background: white;
 }
 
 .header {
   min-height: 70px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: auto 12px;
 }
 
 .header span {
   font-weight: 900;
   font-size: 20px;
   word-break: break-all;
 }
 
 #new {
   font-size: 16px;
   padding: 8px;
   border-radius: 5px;
   border: none;
   color: white;
   background-color: rgb(57, 57, 226);
 }
 
 .divTable {
   padding: 10px;
   width: auto; 
   height:inherit; 
   overflow:auto;
 }
 
 .divTable::-webkit-scrollbar {
   width: 12px;
   background-color: whitesmoke; 
 }
 
 .divTable::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-color: darkgray; 
 }
 
 table {
   width: 100%;
   border-spacing: 10px;
   word-break: break-all;
   border-collapse: collapse;
 }
 
 thead {
   background-color: whitesmoke;
 }
 
 tr {
   border-bottom: 1px solid rgb(238, 235, 235)!important;
 }
 
 tbody tr td {
   vertical-align: text-top;
   padding: 6px;
   max-width: 50px;
 }
 
 thead tr th {
   padding: 5px;
   text-align: start;
   margin-bottom: 50px;
 }
 
 tbody tr {
   margin-bottom: 50px;
 }
 
 thead tr th.acao {
   width: 100px!important;
   text-align: center;
 }
 
 tbody tr td.acao {
   text-align: center;
 }
 
 @media (max-width: 700px) {
   body {
     font-size: 10px;
   }
   
   .header span {
     font-size: 15px;
   }
 
   #new {
     padding: 5px;
     font-size: 10px;
   }
 
   thead tr th.acao {
     width: auto!important;
   }
   
   td button i {
     font-size: 20px!important;
   }
 
   td button i:first-child {
     margin-right: 0;
   }
 
   .modal {
     width: 90%!important;
   }
 
   .modal label {
     font-size: 12px!important;
   }
 }
 
 .modal-container {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.5);
   display: none;
   z-index: 999;
   align-items: center;
   justify-content: center;
 }
 
 .modal {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 40px;
   background-color: white;
   border-radius: 10px;
   width: 50%;
 }
 
 .modal label {
   font-size: 14px;
   width: 100%;
 }
 
 .modal input {
   width: 100%;
   outline: none;
   padding: 5px 10px; 
   width: 100%;
   margin-bottom: 20px;
   border-top: none;
   border-left: none;
   border-right: none;
 }
 
 .modal button {
   width: 100%;
   margin: 10px auto;
   outline: none;
   border-radius: 20px; 
   padding: 5px 10px; 
   width: 100%;
   border: none;
   background-color: rgb(57, 57, 226);
   color: white;
 }
 
 .active {
   display: flex;
 }
 
 .active .modal {
   animation: modal .4s;
 }
 
 @keyframes modal {
   from {
     opacity: 0;
     transform: translate3d(0, -60px, 0);
   }
   to {
     opacity: 1;
     transform: translate3d(0, 0, 0);
   }
 }
 
 td button {
   border: none;
   outline: none;
   background: transparent;
 }
 
 td button i {
   font-size: 25px;
 }
 
 td button i:first-child {
   margin-right: 10px;
 }





































 footer {
    background-color: #1c1a1a;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    overflow: hidden;
 }
 
 .logo-footer {
    font-size: 30px;
    text-align: center;
 }
 
 .logo-footerr {
    text-align: center;
 }
 
 i {
 font-size: 30px;
 margin-right: 10px;
 transition: 0.3s; 
 }
 
 i:hover {
    transform: scale(1.5);
 }